<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action(MVC.Administration.EditBlogEntry())" title="@Common.NewBlogEntry"><br />@Common.NewBlogEntry</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action(MVC.Administration.Statistics())" title="@Common.Statistics"><br />@Common.Statistics</a>
    </div>
</div>